.img_logo {

    width: 37%;
    height: 300px;

}

.h1_titulo{

    color: cornflowerblue;
}

.h4_campo{

    color: cornflowerblue;
}

.but_calc{

    background-color: darkblue; color: cornflowerblue;
}

.div_resp{
    color: darkblue;
}